<div class="new_price_copuy">

    <div class="new_price_copuy_q" style="line-height:20px;padding-top: 11px ">
        <%= JSON.parse(inquerySheetData).name %>
        <br><span style="font-size:13px;display:<%= JSON.parse(inquerySheetData).start == '1' ? 'block' : 'none' %>">
            (向<%= JSON.parse(inquerySheetData).supplyName %>供应商询价的询价单)
        </span>
    </div>
</div>
<ul class="price_list_copy list_copy_4" style="line-height: 12px">
    <li class="title">
        <div style="width: 45%"> 菜名</div>
        <div style="width: 45%">单位</div>
    </li>
</ul>
<ul class="user_defined_copy" style="">
    <% JSON.parse(inquerySheetData).materials.forEach(function(material){ %>
    <label for="input_<%= material.material_id %>" style="width: 100%">
        <li name='material' class="tan" id="<%= material.material_id %>" style="padding-top: 20px;padding-right: 47px">
            <div class="name" style="width: 50%;float: left;text-align: left"><span
                        class="pingm"> <%= material.material_name %></span></div>
            <div style="width: 50%;float: left;text-align: center"><span
                        class="danw"><%= material.material_unit %></span></div>
            <!--<div class="icon">-->
            <!--</div>-->
            <!--<div class="content">-->
            <!--<span class="pingm" style="width: 45%"> <%= material.material_name %></span>-->
            <!--<span class="danw" style="width: 45%;"><%= material.material_unit %></span>-->
            <!--</div>-->
            <div class="check"></div>
            <div class="c"></div>
            <div class="beizhu" style="  font-size: 12px;
  line-height: 14px;
  margin-top: 7px;
  color: #7B7A7A;overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;"><%= material.material_remark %>
            </div>
        </li>
        <div class="new_template"
             style="width: 100%; height: 150px;border-bottom: 1px solid #979797; display: none;padding: 3px 15px">
            <div style="width: 20%; text-align: center;height:30px;float: left;line-height: 30px">单位</div>
            <input type="text" style="height: 30px;width: 75%" value="" placeholder="<%= material.material_unit %>">

            <div class="c" style="height: 10px"></div>
            <div style="width: 20%; text-align: center;height:30px;float: left;line-height: 30px">备注</div>
            <textarea style="width: 75%" name="textarea" cols="10" rows="3"
                      placeholder="<%= material.material_remark %>"></textarea>

        </div>

    </label>

    <input name="checkbox" type="checkbox"
           id="input_<%= material.material_id %>"
           style="display: none" <%= material.isInquery == '1' ? 'checked' : '' %>>
    <% }) %>
</ul>

<div class="add_w" style="margin-bottom: 0">
    <a class="add_w_w_q" href="javascript:commit()">
        询价
    </a>
</div>
<label for="switch" style="width: 100%;margin-bottom: 60px;">
    <div class="user_defined_copy_q" id="isPublic">
        <div class="switchq">
            <div class="switch_q">

            </div>
        </div>
        &nbsp;是否公开
    </div>
</label>
<input type="checkbox" style="display: none" id="switch">


<script type="text/javascript">
    var tan = document.querySelectorAll(".tan")
    for (var i = 0; i < tan.length; i++) {
        changan(tan[i], tan[i].querySelectorAll('.name')[0].innerText)
    }
    var li = document.querySelectorAll(".user_defined_copy li");
    for (var a = 0; a < li.length; a++) {
        var checkbox = document.getElementById('input_' + li[a].id);
        if (checkbox.checked) {
            li[a].className = 'li_q';
        } else {
            li[a].className = '';
        }
        li[a].querySelectorAll('.check')[0].onclick = function () {
            var clas = this.parentNode.getAttribute('class');
            if (clas === 'li_q') {
                this.parentNode.className = ''
                document.getElementById('input_' + this.parentNode.id).checked = true;
            } else {
                this.parentNode.className = 'li_q'
                document.getElementById('input_' + this.parentNode.id).checked = false;
            }
            window.event.stopPropagation();
        }
    }
    var user = document.querySelectorAll('.user_defined_copy_q');

    var inquerySheetData = JSON.parse('<%-inquerySheetData%>');
    var isPublic = inquerySheetData.isPublic;
    if (isPublic == '1') {
        user[0].className = 'user_defined_copy_q';
    } else {
        user[0].className = 'user_defined_copy_q switchq_we'
    }
    user[0].onclick = function () {
        var clas = this.getAttribute('class')
        if (clas == 'user_defined_copy_q') {
            this.className = 'user_defined_copy_q switchq_we'
        } else {
            this.className = 'user_defined_copy_q'
        }
    }

    //编辑备注 单位点击事件
    var li = document.querySelectorAll(".user_defined_copy li");
    for (var a = 0; a < li.length; a++) {

        li[a].onclick = function () {
            var inpu = this.querySelectorAll('.danw')[0].innerHTML;
            this.nextElementSibling.querySelectorAll('input')[0].value = inpu
            if (this.nextElementSibling.style.display == 'block') {
                var new_template = document.querySelectorAll(".new_template")
                for (var a = 0; a < new_template.length; a++) {
                    new_template[a].style.display = 'none'
                }
            } else {
                var new_template = document.querySelectorAll(".new_template")
                for (var a = 0; a < new_template.length; a++) {
                    new_template[a].style.display = 'none'
                }
                this.nextElementSibling.style.display = "block"
            }
        }
    }
    var boot = document.querySelectorAll("input")
    for (var a = 0; a < boot.length; a++) {
        boot[a].oninput = function () {
            var inpu = this.value;
            this.parentElement.previousElementSibling.querySelectorAll('.danw')[0].innerHTML = inpu
        }
    }
    var boot = document.querySelectorAll("textarea")
    for (var a = 0; a < boot.length; a++) {
        boot[a].oninput = function () {
            var inpu = this.value;
            this.parentElement.previousElementSibling.querySelectorAll('.beizhu')[0].innerHTML = inpu
        }
    }





    function commit() {
        var inquerySheetData = JSON.parse('<%-inquerySheetData%>');
        var checkboxs = document.getElementsByName('checkbox');
        var isPublic = document.getElementById('isPublic');
        for (var i = 0, size = checkboxs.length; i < size; i++) {
            var id = (checkboxs[i].id).replace('input_', '');
            for (var j = 0, size = inquerySheetData.materials.length; j < size; j++) {
                if (inquerySheetData.materials[j].material_id == id) {
                    if (checkboxs[i].checked) {
                        inquerySheetData.materials[j].isInquery = '1';
                    } else {
                        inquerySheetData.materials[j].isInquery = '0';
                    }
                    break;
                }
            };
        }
        var materials = document.getElementsByName('material');
        for (var i = 0; i < materials.length; i++) {
            for (var j = 0, size = inquerySheetData.materials.length; j < size; j++) {
                if (inquerySheetData.materials[j]._id == materials[i].id) {
                    inquerySheetData.materials[j].unit = materials[i].querySelectorAll('.danw')[0].innerText;
                    inquerySheetData.materials[j].remark = materials[i].querySelectorAll('.beizhu')[0].innerText;
                    break;
                }

            };
        }
        if (isPublic.className == 'user_defined_copy_q') {
            inquerySheetData.isPublic = '1';
            inquerySheetData.supplyIds = [];
            var url = '/updateInquerySheet'
            var data = {
                inquerySheetData: JSON.stringify(inquerySheetData)
            }
            $.post(url, data, function (result) {
                if (result.code == 101) {
                    alert('请联系管理人员进行报价');
                    return;
                } else if (result.code == 100) {
                    alert('询价成功');
                    pageLoad('/priceInquery');
                    return;
                }
            });

        } else {
            inquerySheetData.isPublic = '0';
            var url = '/chooseContacts?inquerySheetData=' + JSON.stringify(inquerySheetData);
            pageLoad(url, '常用联系人选择', false);
        }
    }
</script>
