
<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="initial-scale=1.0, width=device-width" name="viewport">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title></title>
<!-- css -->
<link id="q" rel="stylesheet" href="http://7xi34i.com1.z0.glb.clouddn.com/base.min.css?<%=new Date().getTime()%>">
<link id="w" rel="stylesheet" href="http://7xi34i.com1.z0.glb.clouddn.com/wo.css?<%=new Date().getTime()%>">
<link id="e" rel="stylesheet" href="http://7xi34i.com1.z0.glb.clouddn.com/swiper.min.css?<%=new Date().getTime()%>">
<script type="text/javascript">
    if (/iP(hone|od|ad)/.test(navigator.userAgent)) {
        var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/),
                version = parseInt(v[1], 10);
        if (version >= 8) {
            document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/base.min.css?<%=new Date().getTime()%>">');
            document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/wo.css?<%=new Date().getTime()%>">');
            document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/swiper.min.css?<%=new Date().getTime()%>">');
        } else {
            document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/base_q.min.css?<%=new Date().getTime()%>">');
            document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/wo_q.css?<%=new Date().getTime()%>">');
            document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/swiper_q.min.css?<%=new Date().getTime()%>">');
        }
        var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/),
                version = parseInt(v[1], 10);
    } else {
        document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/wo_q.css?<%=new Date().getTime()%>">');
    }
</script>
<script src="js/base.js?<%= new Date().getTime() %>" type="text/javascript"></script>
<script src="js/tu.js?<%= new Date().getTime() %>" type="text/javascript"></script>
<script src="js/swiper.min.js?<%= new Date().getTime() %>" type="text/javascript"></script>
<script src="js/underscore.js?<%= new Date().getTime() %>" type="text/javascript"></script>
<script src="js/common.js?<%= new Date().getTime() %>" type="text/javascript"></script>